﻿@model sri.Models.Auditoria

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Auditoria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Formulario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Formulario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Userid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Userid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usermail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usermail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
