﻿@model sri.Models.Formulario102a

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Formulario102a</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Userid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Userid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C102)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C102)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C104)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C104)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C105)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C105)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C201)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C201)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C202)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C202)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C703)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C703)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C704)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C704)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C705)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C705)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C481)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C481)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C710)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C710)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C711)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C711)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C712)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C712)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C713)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C713)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C714)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C714)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C715)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C715)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C716)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C716)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C717)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C717)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C718)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C718)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C719)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C719)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C720)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C720)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C730)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C730)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C729)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C729)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C741)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C741)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C491)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C491)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C721)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C721)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C722)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C722)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C723)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C723)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C724)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C724)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C725)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C725)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C731)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C731)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C739)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C739)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C751)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C751)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C749)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C749)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C759)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C759)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C769)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C769)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C740)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C740)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C750)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C750)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C760)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C760)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C770)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C770)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C768)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C768)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C767)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C767)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C771)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C771)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C772)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C772)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C773)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C773)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C774)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C774)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C775)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C775)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C776)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C776)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C777)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C777)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C778)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C778)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C779)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C779)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C780)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C780)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C781)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C781)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C782)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C782)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C783)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C783)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C784)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C784)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C786)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C786)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C787)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C787)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C789)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C789)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C7004)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C7004)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C7006)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C7006)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C7005)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C7005)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C7007)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C7007)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C832)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C832)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C839)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C839)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C840)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C840)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C842)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C842)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C843)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C843)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C845)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C845)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C846)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C846)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C847)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C847)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C848)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C848)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C849)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C849)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C850)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C850)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C851)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C851)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C852)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C852)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C855)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C855)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C856)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C856)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C857)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C857)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C858)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C858)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C859)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C859)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C869)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C869)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C880)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C880)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C881)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C881)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C882)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C882)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C879)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C879)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C871)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C871)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C872)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C872)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C890)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C890)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C897)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C897)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C898)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C898)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C899)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C899)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C902)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C902)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C903)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C903)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C904)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C904)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C999)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C999)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C905)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C905)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C906)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C906)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C907)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C907)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C908)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C908)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C909)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C909)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C910)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C910)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C911)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C911)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C912)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C912)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C913)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C913)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C915)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C915)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C916)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C916)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C917)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C917)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C918)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C918)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C919)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C919)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C920)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C920)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C198)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C198)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
