﻿@model sri.Models.Formulario102a

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Formulario102a</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Userid" class="control-label"></label>
                <input asp-for="Userid" class="form-control" />
                <span asp-validation-for="Userid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C102" class="control-label"></label>
                <input asp-for="C102" class="form-control" />
                <span asp-validation-for="C102" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C104" class="control-label"></label>
                <input asp-for="C104" class="form-control" />
                <span asp-validation-for="C104" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C105" class="control-label"></label>
                <input asp-for="C105" class="form-control" />
                <span asp-validation-for="C105" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C201" class="control-label"></label>
                <input asp-for="C201" class="form-control" />
                <span asp-validation-for="C201" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C202" class="control-label"></label>
                <input asp-for="C202" class="form-control" />
                <span asp-validation-for="C202" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C703" class="control-label"></label>
                <input asp-for="C703" class="form-control" />
                <span asp-validation-for="C703" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C704" class="control-label"></label>
                <input asp-for="C704" class="form-control" />
                <span asp-validation-for="C704" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C705" class="control-label"></label>
                <input asp-for="C705" class="form-control" />
                <span asp-validation-for="C705" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C481" class="control-label"></label>
                <input asp-for="C481" class="form-control" />
                <span asp-validation-for="C481" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C710" class="control-label"></label>
                <input asp-for="C710" class="form-control" />
                <span asp-validation-for="C710" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C711" class="control-label"></label>
                <input asp-for="C711" class="form-control" />
                <span asp-validation-for="C711" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C712" class="control-label"></label>
                <input asp-for="C712" class="form-control" />
                <span asp-validation-for="C712" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C713" class="control-label"></label>
                <input asp-for="C713" class="form-control" />
                <span asp-validation-for="C713" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C714" class="control-label"></label>
                <input asp-for="C714" class="form-control" />
                <span asp-validation-for="C714" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C715" class="control-label"></label>
                <input asp-for="C715" class="form-control" />
                <span asp-validation-for="C715" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C716" class="control-label"></label>
                <input asp-for="C716" class="form-control" />
                <span asp-validation-for="C716" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C717" class="control-label"></label>
                <input asp-for="C717" class="form-control" />
                <span asp-validation-for="C717" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C718" class="control-label"></label>
                <input asp-for="C718" class="form-control" />
                <span asp-validation-for="C718" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C719" class="control-label"></label>
                <input asp-for="C719" class="form-control" />
                <span asp-validation-for="C719" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C720" class="control-label"></label>
                <input asp-for="C720" class="form-control" />
                <span asp-validation-for="C720" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C730" class="control-label"></label>
                <input asp-for="C730" class="form-control" />
                <span asp-validation-for="C730" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C729" class="control-label"></label>
                <input asp-for="C729" class="form-control" />
                <span asp-validation-for="C729" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C741" class="control-label"></label>
                <input asp-for="C741" class="form-control" />
                <span asp-validation-for="C741" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C491" class="control-label"></label>
                <input asp-for="C491" class="form-control" />
                <span asp-validation-for="C491" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C721" class="control-label"></label>
                <input asp-for="C721" class="form-control" />
                <span asp-validation-for="C721" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C722" class="control-label"></label>
                <input asp-for="C722" class="form-control" />
                <span asp-validation-for="C722" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C723" class="control-label"></label>
                <input asp-for="C723" class="form-control" />
                <span asp-validation-for="C723" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C724" class="control-label"></label>
                <input asp-for="C724" class="form-control" />
                <span asp-validation-for="C724" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C725" class="control-label"></label>
                <input asp-for="C725" class="form-control" />
                <span asp-validation-for="C725" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C731" class="control-label"></label>
                <input asp-for="C731" class="form-control" />
                <span asp-validation-for="C731" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C739" class="control-label"></label>
                <input asp-for="C739" class="form-control" />
                <span asp-validation-for="C739" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C751" class="control-label"></label>
                <input asp-for="C751" class="form-control" />
                <span asp-validation-for="C751" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C749" class="control-label"></label>
                <input asp-for="C749" class="form-control" />
                <span asp-validation-for="C749" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C759" class="control-label"></label>
                <input asp-for="C759" class="form-control" />
                <span asp-validation-for="C759" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C769" class="control-label"></label>
                <input asp-for="C769" class="form-control" />
                <span asp-validation-for="C769" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C740" class="control-label"></label>
                <input asp-for="C740" class="form-control" />
                <span asp-validation-for="C740" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C750" class="control-label"></label>
                <input asp-for="C750" class="form-control" />
                <span asp-validation-for="C750" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C760" class="control-label"></label>
                <input asp-for="C760" class="form-control" />
                <span asp-validation-for="C760" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C770" class="control-label"></label>
                <input asp-for="C770" class="form-control" />
                <span asp-validation-for="C770" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C768" class="control-label"></label>
                <input asp-for="C768" class="form-control" />
                <span asp-validation-for="C768" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C767" class="control-label"></label>
                <input asp-for="C767" class="form-control" />
                <span asp-validation-for="C767" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C771" class="control-label"></label>
                <input asp-for="C771" class="form-control" />
                <span asp-validation-for="C771" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C772" class="control-label"></label>
                <input asp-for="C772" class="form-control" />
                <span asp-validation-for="C772" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C773" class="control-label"></label>
                <input asp-for="C773" class="form-control" />
                <span asp-validation-for="C773" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C774" class="control-label"></label>
                <input asp-for="C774" class="form-control" />
                <span asp-validation-for="C774" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C775" class="control-label"></label>
                <input asp-for="C775" class="form-control" />
                <span asp-validation-for="C775" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C776" class="control-label"></label>
                <input asp-for="C776" class="form-control" />
                <span asp-validation-for="C776" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C777" class="control-label"></label>
                <input asp-for="C777" class="form-control" />
                <span asp-validation-for="C777" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C778" class="control-label"></label>
                <input asp-for="C778" class="form-control" />
                <span asp-validation-for="C778" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C779" class="control-label"></label>
                <input asp-for="C779" class="form-control" />
                <span asp-validation-for="C779" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C780" class="control-label"></label>
                <input asp-for="C780" class="form-control" />
                <span asp-validation-for="C780" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C781" class="control-label"></label>
                <input asp-for="C781" class="form-control" />
                <span asp-validation-for="C781" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C782" class="control-label"></label>
                <input asp-for="C782" class="form-control" />
                <span asp-validation-for="C782" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C783" class="control-label"></label>
                <input asp-for="C783" class="form-control" />
                <span asp-validation-for="C783" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C784" class="control-label"></label>
                <input asp-for="C784" class="form-control" />
                <span asp-validation-for="C784" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C786" class="control-label"></label>
                <input asp-for="C786" class="form-control" />
                <span asp-validation-for="C786" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C787" class="control-label"></label>
                <input asp-for="C787" class="form-control" />
                <span asp-validation-for="C787" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C789" class="control-label"></label>
                <input asp-for="C789" class="form-control" />
                <span asp-validation-for="C789" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C7004" class="control-label"></label>
                <input asp-for="C7004" class="form-control" />
                <span asp-validation-for="C7004" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C7006" class="control-label"></label>
                <input asp-for="C7006" class="form-control" />
                <span asp-validation-for="C7006" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C7005" class="control-label"></label>
                <input asp-for="C7005" class="form-control" />
                <span asp-validation-for="C7005" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C7007" class="control-label"></label>
                <input asp-for="C7007" class="form-control" />
                <span asp-validation-for="C7007" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C832" class="control-label"></label>
                <input asp-for="C832" class="form-control" />
                <span asp-validation-for="C832" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C839" class="control-label"></label>
                <input asp-for="C839" class="form-control" />
                <span asp-validation-for="C839" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C840" class="control-label"></label>
                <input asp-for="C840" class="form-control" />
                <span asp-validation-for="C840" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C842" class="control-label"></label>
                <input asp-for="C842" class="form-control" />
                <span asp-validation-for="C842" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C843" class="control-label"></label>
                <input asp-for="C843" class="form-control" />
                <span asp-validation-for="C843" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C845" class="control-label"></label>
                <input asp-for="C845" class="form-control" />
                <span asp-validation-for="C845" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C846" class="control-label"></label>
                <input asp-for="C846" class="form-control" />
                <span asp-validation-for="C846" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C847" class="control-label"></label>
                <input asp-for="C847" class="form-control" />
                <span asp-validation-for="C847" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C848" class="control-label"></label>
                <input asp-for="C848" class="form-control" />
                <span asp-validation-for="C848" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C849" class="control-label"></label>
                <input asp-for="C849" class="form-control" />
                <span asp-validation-for="C849" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C850" class="control-label"></label>
                <input asp-for="C850" class="form-control" />
                <span asp-validation-for="C850" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C851" class="control-label"></label>
                <input asp-for="C851" class="form-control" />
                <span asp-validation-for="C851" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C852" class="control-label"></label>
                <input asp-for="C852" class="form-control" />
                <span asp-validation-for="C852" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C855" class="control-label"></label>
                <input asp-for="C855" class="form-control" />
                <span asp-validation-for="C855" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C856" class="control-label"></label>
                <input asp-for="C856" class="form-control" />
                <span asp-validation-for="C856" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C857" class="control-label"></label>
                <input asp-for="C857" class="form-control" />
                <span asp-validation-for="C857" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C858" class="control-label"></label>
                <input asp-for="C858" class="form-control" />
                <span asp-validation-for="C858" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C859" class="control-label"></label>
                <input asp-for="C859" class="form-control" />
                <span asp-validation-for="C859" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C869" class="control-label"></label>
                <input asp-for="C869" class="form-control" />
                <span asp-validation-for="C869" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C880" class="control-label"></label>
                <input asp-for="C880" class="form-control" />
                <span asp-validation-for="C880" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C881" class="control-label"></label>
                <input asp-for="C881" class="form-control" />
                <span asp-validation-for="C881" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C882" class="control-label"></label>
                <input asp-for="C882" class="form-control" />
                <span asp-validation-for="C882" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C879" class="control-label"></label>
                <input asp-for="C879" class="form-control" />
                <span asp-validation-for="C879" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C871" class="control-label"></label>
                <input asp-for="C871" class="form-control" />
                <span asp-validation-for="C871" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C872" class="control-label"></label>
                <input asp-for="C872" class="form-control" />
                <span asp-validation-for="C872" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C890" class="control-label"></label>
                <input asp-for="C890" class="form-control" />
                <span asp-validation-for="C890" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C897" class="control-label"></label>
                <input asp-for="C897" class="form-control" />
                <span asp-validation-for="C897" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C898" class="control-label"></label>
                <input asp-for="C898" class="form-control" />
                <span asp-validation-for="C898" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C899" class="control-label"></label>
                <input asp-for="C899" class="form-control" />
                <span asp-validation-for="C899" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C902" class="control-label"></label>
                <input asp-for="C902" class="form-control" />
                <span asp-validation-for="C902" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C903" class="control-label"></label>
                <input asp-for="C903" class="form-control" />
                <span asp-validation-for="C903" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C904" class="control-label"></label>
                <input asp-for="C904" class="form-control" />
                <span asp-validation-for="C904" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C999" class="control-label"></label>
                <input asp-for="C999" class="form-control" />
                <span asp-validation-for="C999" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C905" class="control-label"></label>
                <input asp-for="C905" class="form-control" />
                <span asp-validation-for="C905" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C906" class="control-label"></label>
                <input asp-for="C906" class="form-control" />
                <span asp-validation-for="C906" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C907" class="control-label"></label>
                <input asp-for="C907" class="form-control" />
                <span asp-validation-for="C907" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C908" class="control-label"></label>
                <input asp-for="C908" class="form-control" />
                <span asp-validation-for="C908" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C909" class="control-label"></label>
                <input asp-for="C909" class="form-control" />
                <span asp-validation-for="C909" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C910" class="control-label"></label>
                <input asp-for="C910" class="form-control" />
                <span asp-validation-for="C910" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C911" class="control-label"></label>
                <input asp-for="C911" class="form-control" />
                <span asp-validation-for="C911" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C912" class="control-label"></label>
                <input asp-for="C912" class="form-control" />
                <span asp-validation-for="C912" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C913" class="control-label"></label>
                <input asp-for="C913" class="form-control" />
                <span asp-validation-for="C913" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C915" class="control-label"></label>
                <input asp-for="C915" class="form-control" />
                <span asp-validation-for="C915" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C916" class="control-label"></label>
                <input asp-for="C916" class="form-control" />
                <span asp-validation-for="C916" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C917" class="control-label"></label>
                <input asp-for="C917" class="form-control" />
                <span asp-validation-for="C917" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C918" class="control-label"></label>
                <input asp-for="C918" class="form-control" />
                <span asp-validation-for="C918" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C919" class="control-label"></label>
                <input asp-for="C919" class="form-control" />
                <span asp-validation-for="C919" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C920" class="control-label"></label>
                <input asp-for="C920" class="form-control" />
                <span asp-validation-for="C920" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C198" class="control-label"></label>
                <input asp-for="C198" class="form-control" />
                <span asp-validation-for="C198" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
