﻿@model IEnumerable<sri.Models.Formulario102a>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.C102)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C104)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C105)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C201)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C202)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C703)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C704)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C705)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C481)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C710)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C711)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C712)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C713)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C714)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C715)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C716)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C717)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C718)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C719)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C720)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C730)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C729)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C741)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C491)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C721)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C722)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C723)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C724)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C725)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C731)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C739)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C751)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C749)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C759)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C769)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C740)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C750)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C760)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C770)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C768)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C767)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C771)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C772)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C773)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C774)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C775)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C776)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C777)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C778)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C779)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C780)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C781)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C782)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C783)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C784)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C786)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C787)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C789)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C7004)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C7006)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C7005)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C7007)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C832)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C839)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C840)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C842)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C843)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C845)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C846)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C847)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C848)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C849)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C850)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C851)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C852)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C855)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C856)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C857)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C858)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C859)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C869)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C880)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C881)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C882)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C879)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C871)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C872)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C890)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C897)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C898)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C899)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C902)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C903)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C904)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C999)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C905)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C906)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C907)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C908)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C909)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C910)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C911)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C912)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C913)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C915)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C916)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C917)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C918)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C919)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C920)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C198)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.C102)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C104)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C105)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C201)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C202)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C703)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C704)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C705)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C481)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C710)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C711)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C712)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C713)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C714)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C715)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C716)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C717)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C718)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C719)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C720)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C730)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C729)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C741)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C491)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C721)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C722)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C723)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C724)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C725)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C731)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C739)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C751)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C749)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C759)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C769)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C740)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C750)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C760)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C770)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C768)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C767)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C771)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C772)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C773)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C774)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C775)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C776)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C777)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C778)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C779)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C780)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C781)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C782)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C783)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C784)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C786)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C787)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C789)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C7004)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C7006)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C7005)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C7007)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C832)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C839)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C840)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C842)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C843)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C845)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C846)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C847)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C848)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C849)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C850)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C851)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C852)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C855)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C856)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C857)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C858)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C859)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C869)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C880)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C881)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C882)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C879)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C871)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C872)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C890)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C897)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C898)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C899)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C902)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C903)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C904)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C999)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C905)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C906)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C907)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C908)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C909)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C910)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C911)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C912)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C913)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C915)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C916)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C917)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C918)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C919)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C920)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C198)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
