﻿@model sri.Models.Formulario103

@{
    ViewData["Title"] = "Create";
}

<h1>SRI</h1>

<h4>Formulario103</h4>
<h4 style="text-align:center">Declaración de retenciones en la fuente del impuesto a la renta</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <!-- encabezado -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="C101" class="control-label"></label>
                <input id="C101" asp-for="C101" class="form-control" />
                <span asp-validation-for="C101" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="C102" class="control-label"></label>
                <input asp-for="C102" class="form-control" />
                <span asp-validation-for="C102" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C104" class="control-label"></label>
                <input asp-for="C104" class="form-control" />
                <span asp-validation-for="C104" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C201" class="control-label"></label>
                <input asp-for="C201" class="form-control" />
                <span asp-validation-for="C201" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C202" class="control-label"></label>
                <input asp-for="C202" class="form-control" />
                <span asp-validation-for="C202" class="text-danger"></span>
            </div>

            <!-- encabezado -->
            <!-- detalle de pagos y retencion de impuesto a la renta -->
            <h5>Detalle de pagos y retención</h5>

            <div class="form-group">
                <label asp-for="C302" class="control-label"></label>
                <input asp-for="C302" class="form-control" />
                <span asp-validation-for="C302" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C352" class="control-label"></label>
                <input asp-for="C352" class="form-control" />
                <span asp-validation-for="C352" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <h6>Servicios</h6>
            <div class="form-group">
                <label asp-for="C303" class="control-label"></label>
                <input asp-for="C303" class="form-control" />
                <span asp-validation-for="C303" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C353" class="control-label"></label>
                <input asp-for="C353" class="form-control" />
                <span asp-validation-for="C353" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C304" class="control-label"></label>
                <input asp-for="C304" class="form-control" />
                <span asp-validation-for="C304" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C354" class="control-label"></label>
                <input asp-for="C354" class="form-control" />
                <span asp-validation-for="C354" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C307" class="control-label"></label>
                <input asp-for="C307" class="form-control" />
                <span asp-validation-for="C307" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C357" class="control-label"></label>
                <input asp-for="C357" class="form-control" />
                <span asp-validation-for="C357" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C308" class="control-label"></label>
                <input asp-for="C308" class="form-control" />
                <span asp-validation-for="C308" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C358" class="control-label"></label>
                <input asp-for="C358" class="form-control" />
                <span asp-validation-for="C358" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C309" class="control-label"></label>
                <input asp-for="C309" class="form-control" />
                <span asp-validation-for="C309" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C359" class="control-label"></label>
                <input asp-for="C359" class="form-control" />
                <span asp-validation-for="C359" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C310" class="control-label"></label>
                <input asp-for="C310" class="form-control" />
                <span asp-validation-for="C310" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C360" class="control-label"></label>
                <input asp-for="C360" class="form-control" />
                <span asp-validation-for="C360" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C311" class="control-label"></label>
                <input asp-for="C311" class="form-control" />
                <span asp-validation-for="C311" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C361" class="control-label"></label>
                <input asp-for="C361" class="form-control" />
                <span asp-validation-for="C361" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C312" class="control-label"></label>
                <input asp-for="C312" class="form-control" />
                <span asp-validation-for="C312" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C362" class="control-label"></label>
                <input asp-for="C362" class="form-control" />
                <span asp-validation-for="C362" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C314" class="control-label"></label>
                <input asp-for="C314" class="form-control" />
                <span asp-validation-for="C314" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C364" class="control-label"></label>
                <input asp-for="C364" class="form-control" />
                <span asp-validation-for="C364" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C319" class="control-label"></label>
                <input asp-for="C319" class="form-control" />
                <span asp-validation-for="C319" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C369" class="control-label"></label>
                <input asp-for="C369" class="form-control" />
                <span asp-validation-for="C369" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <h6>Arrendamiento</h6>
            <div class="form-group">
                <label asp-for="C320" class="control-label"></label>
                <input asp-for="C320" class="form-control" />
                <span asp-validation-for="C320" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C370" class="control-label"></label>
                <input asp-for="C370" class="form-control" />
                <span asp-validation-for="C370" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C322" class="control-label"></label>
                <input asp-for="C322" class="form-control" />
                <span asp-validation-for="C322" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C372" class="control-label"></label>
                <input asp-for="C372" class="form-control" />
                <span asp-validation-for="C372" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C323" class="control-label"></label>
                <input asp-for="C323" class="form-control" />
                <span asp-validation-for="C323" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C373" class="control-label"></label>
                <input asp-for="C373" class="form-control" />
                <span asp-validation-for="C373" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C324" class="control-label"></label>
                <input asp-for="C324" class="form-control" />
                <span asp-validation-for="C324" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C374" class="control-label"></label>
                <input asp-for="C374" class="form-control" />
                <span asp-validation-for="C374" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C325" class="control-label"></label>
                <input asp-for="C325" class="form-control" />
                <span asp-validation-for="C325" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C375" class="control-label"></label>
                <input asp-for="C375" class="form-control" />
                <span asp-validation-for="C375" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C326" class="control-label"></label>
                <input asp-for="C326" class="form-control" />
                <span asp-validation-for="C326" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C376" class="control-label"></label>
                <input asp-for="C376" class="form-control" />
                <span asp-validation-for="C376" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C327" class="control-label"></label>
                <input asp-for="C327" class="form-control" />
                <span asp-validation-for="C327" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C377" class="control-label"></label>
                <input asp-for="C377" class="form-control" />
                <span asp-validation-for="C377" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C328" class="control-label"></label>
                <input asp-for="C328" class="form-control" />
                <span asp-validation-for="C328" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C378" class="control-label"></label>
                <input asp-for="C378" class="form-control" />
                <span asp-validation-for="C378" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C329" class="control-label"></label>
                <input asp-for="C329" class="form-control" />
                <span asp-validation-for="C329" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C379" class="control-label"></label>
                <input asp-for="C379" class="form-control" />
                <span asp-validation-for="C379" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C330" class="control-label"></label>
                <input asp-for="C330" class="form-control" />
                <span asp-validation-for="C330" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C380" class="control-label"></label>
                <input asp-for="C380" class="form-control" />
                <span asp-validation-for="C380" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C331" class="control-label"></label>
                <input asp-for="C331" class="form-control" />
                <span asp-validation-for="C331" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C332" class="control-label"></label>
                <input asp-for="C332" class="form-control" />
                <span asp-validation-for="C332" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C333" class="control-label"></label>
                <input asp-for="C333" class="form-control" />
                <span asp-validation-for="C333" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="C383" class="control-label"></label>
                <input asp-for="C383" class="form-control" />
                <span asp-validation-for="C383" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C334" class="control-label"></label>
                <input asp-for="C334" class="form-control" />
                <span asp-validation-for="C334" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C384" class="control-label"></label>
                <input asp-for="C384" class="form-control" />
                <span asp-validation-for="C384" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C335" class="control-label"></label>
                <input asp-for="C335" class="form-control" />
                <span asp-validation-for="C335" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C385" class="control-label"></label>
                <input asp-for="C385" class="form-control" />
                <span asp-validation-for="C385" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <h6>Venta de comustibles</h6>
            <div class="form-group">
                <label asp-for="C336" class="control-label"></label>
                <input asp-for="C336" class="form-control" />
                <span asp-validation-for="C336" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C386" class="control-label"></label>
                <input asp-for="C386" class="form-control" />
                <span asp-validation-for="C386" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C337" class="control-label"></label>
                <input asp-for="C337" class="form-control" />
                <span asp-validation-for="C337" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C387" class="control-label"></label>
                <input asp-for="C387" class="form-control" />
                <span asp-validation-for="C387" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C510" class="control-label"></label>
                <input asp-for="C510" class="form-control" />
                <span asp-validation-for="C510" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C338" class="control-label"></label>
                <input asp-for="C338" class="form-control" />
                <span asp-validation-for="C338" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C388" class="control-label"></label>
                <input asp-for="C388" class="form-control" />
                <span asp-validation-for="C388" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C520" class="control-label"></label>
                <input asp-for="C520" class="form-control" />
                <span asp-validation-for="C520" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C339" class="control-label"></label>
                <input asp-for="C339" class="form-control" />
                <span asp-validation-for="C339" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C389" class="control-label"></label>
                <input asp-for="C389" class="form-control" />
                <span asp-validation-for="C389" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C530" class="control-label"></label>
                <input asp-for="C530" class="form-control" />
                <span asp-validation-for="C530" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C340" class="control-label"></label>
                <input asp-for="C340" class="form-control" />
                <span asp-validation-for="C340" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C390" class="control-label"></label>
                <input asp-for="C390" class="form-control" />
                <span asp-validation-for="C390" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C540" class="control-label"></label>
                <input asp-for="C540" class="form-control" />
                <span asp-validation-for="C540" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C341" class="control-label"></label>
                <input asp-for="C341" class="form-control" />
                <span asp-validation-for="C341" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C391" class="control-label"></label>
                <input asp-for="C391" class="form-control" />
                <span asp-validation-for="C391" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C550" class="control-label"></label>
                <input asp-for="C550" class="form-control" />
                <span asp-validation-for="C550" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C342" class="control-label"></label>
                <input asp-for="C342" class="form-control" />
                <span asp-validation-for="C342" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C392" class="control-label"></label>
                <input asp-for="C392" class="form-control" />
                <span asp-validation-for="C392" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <h6>Otras retenciones</h6>
            <div class="form-group">
                <label asp-for="C343" class="control-label"></label>
                <input asp-for="C343" class="form-control" />
                <span asp-validation-for="C343" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C393" class="control-label"></label>
                <input asp-for="C393" class="form-control" />
                <span asp-validation-for="C393" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C344" class="control-label"></label>
                <input asp-for="C344" class="form-control" />
                <span asp-validation-for="C344" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C394" class="control-label"></label>
                <input asp-for="C394" class="form-control" />
                <span asp-validation-for="C394" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C345" class="control-label"></label>
                <input asp-for="C345" class="form-control" />
                <span asp-validation-for="C345" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C395" class="control-label"></label>
                <input asp-for="C395" class="form-control" />
                <span asp-validation-for="C395" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C346" class="control-label"></label>
                <input asp-for="C346" class="form-control" />
                <span asp-validation-for="C346" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C396" class="control-label"></label>
                <input asp-for="C396" class="form-control" />
                <span asp-validation-for="C396" class="text-danger"></span>
            </div>
            <hr />
            <br />


            <div class="form-group">
                <label asp-for="C349" class="control-label"></label>
                <input asp-for="C349" class="form-control" />
                <span asp-validation-for="C349" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="C399" class="control-label"></label>
                <input asp-for="C399" class="form-control" />
                <span asp-validation-for="C399" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <h5>Por pagos a no residentes</h5>
            <br />
            <!-- detalle de pagos y retencion de impuesto a la renta -->
            <h6>Con convenio de doble tributación</h6>

            <div class="form-group">
                <label asp-for="C402" class="control-label"></label>
                <input asp-for="C402" class="form-control" />
                <span asp-validation-for="C402" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C452" class="control-label"></label>
                <input asp-for="C452" class="form-control" />
                <span asp-validation-for="C452" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C403" class="control-label"></label>
                <input asp-for="C403" class="form-control" />
                <span asp-validation-for="C403" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C453" class="control-label"></label>
                <input asp-for="C453" class="form-control" />
                <span asp-validation-for="C453" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C404" class="control-label"></label>
                <input asp-for="C404" class="form-control" />
                <span asp-validation-for="C404" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C454" class="control-label"></label>
                <input asp-for="C454" class="form-control" />
                <span asp-validation-for="C454" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C405" class="control-label"></label>
                <input asp-for="C405" class="form-control" />
                <span asp-validation-for="C405" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C406" class="control-label"></label>
                <input asp-for="C406" class="form-control" />
                <span asp-validation-for="C406" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C456" class="control-label"></label>
                <input asp-for="C456" class="form-control" />
                <span asp-validation-for="C456" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C407" class="control-label"></label>
                <input asp-for="C407" class="form-control" />
                <span asp-validation-for="C407" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C457" class="control-label"></label>
                <input asp-for="C457" class="form-control" />
                <span asp-validation-for="C457" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C408" class="control-label"></label>
                <input asp-for="C408" class="form-control" />
                <span asp-validation-for="C408" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C458" class="control-label"></label>
                <input asp-for="C458" class="form-control" />
                <span asp-validation-for="C458" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C409" class="control-label"></label>
                <input asp-for="C409" class="form-control" />
                <span asp-validation-for="C409" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C459" class="control-label"></label>
                <input asp-for="C459" class="form-control" />
                <span asp-validation-for="C459" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C410" class="control-label"></label>
                <input asp-for="C410" class="form-control" />
                <span asp-validation-for="C410" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C460" class="control-label"></label>
                <input asp-for="C460" class="form-control" />
                <span asp-validation-for="C460" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C411" class="control-label"></label>
                <input asp-for="C411" class="form-control" />
                <span asp-validation-for="C411" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C461" class="control-label"></label>
                <input asp-for="C461" class="form-control" />
                <span asp-validation-for="C461" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C412" class="control-label"></label>
                <input asp-for="C412" class="form-control" />
                <span asp-validation-for="C412" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <h6>Sin convenio de doble tributación</h6>
            <div class="form-group">
                <label asp-for="C413" class="control-label"></label>
                <input asp-for="C413" class="form-control" />
                <span asp-validation-for="C413" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C463" class="control-label"></label>
                <input asp-for="C463" class="form-control" />
                <span asp-validation-for="C463" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C414" class="control-label"></label>
                <input asp-for="C414" class="form-control" />
                <span asp-validation-for="C414" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C464" class="control-label"></label>
                <input asp-for="C464" class="form-control" />
                <span asp-validation-for="C464" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C415" class="control-label"></label>
                <input asp-for="C415" class="form-control" />
                <span asp-validation-for="C415" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C465" class="control-label"></label>
                <input asp-for="C465" class="form-control" />
                <span asp-validation-for="C465" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C416" class="control-label"></label>
                <input asp-for="C416" class="form-control" />
                <span asp-validation-for="C416" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C417" class="control-label"></label>
                <input asp-for="C417" class="form-control" />
                <span asp-validation-for="C417" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C467" class="control-label"></label>
                <input asp-for="C467" class="form-control" />
                <span asp-validation-for="C467" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C418" class="control-label"></label>
                <input asp-for="C418" class="form-control" />
                <span asp-validation-for="C418" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C468" class="control-label"></label>
                <input asp-for="C468" class="form-control" />
                <span asp-validation-for="C468" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C419" class="control-label"></label>
                <input asp-for="C419" class="form-control" />
                <span asp-validation-for="C419" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C469" class="control-label"></label>
                <input asp-for="C469" class="form-control" />
                <span asp-validation-for="C469" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C420" class="control-label"></label>
                <input asp-for="C420" class="form-control" />
                <span asp-validation-for="C420" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C470" class="control-label"></label>
                <input asp-for="C470" class="form-control" />
                <span asp-validation-for="C470" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C421" class="control-label"></label>
                <input asp-for="C421" class="form-control" />
                <span asp-validation-for="C421" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C471" class="control-label"></label>
                <input asp-for="C471" class="form-control" />
                <span asp-validation-for="C471" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C422" class="control-label"></label>
                <input asp-for="C422" class="form-control" />
                <span asp-validation-for="C422" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C472" class="control-label"></label>
                <input asp-for="C472" class="form-control" />
                <span asp-validation-for="C472" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C423" class="control-label"></label>
                <input asp-for="C423" class="form-control" />
                <span asp-validation-for="C423" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <h6>En paraísos fiscales</h6>
            <div class="form-group">
                <label asp-for="C424" class="control-label"></label>
                <input asp-for="C424" class="form-control" />
                <span asp-validation-for="C424" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C474" class="control-label"></label>
                <input asp-for="C474" class="form-control" />
                <span asp-validation-for="C474" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C425" class="control-label"></label>
                <input asp-for="C425" class="form-control" />
                <span asp-validation-for="C425" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C475" class="control-label"></label>
                <input asp-for="C475" class="form-control" />
                <span asp-validation-for="C475" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C426" class="control-label"></label>
                <input asp-for="C426" class="form-control" />
                <span asp-validation-for="C426" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C476" class="control-label"></label>
                <input asp-for="C476" class="form-control" />
                <span asp-validation-for="C476" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C427" class="control-label"></label>
                <input asp-for="C427" class="form-control" />
                <span asp-validation-for="C427" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C477" class="control-label"></label>
                <input asp-for="C477" class="form-control" />
                <span asp-validation-for="C477" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C428" class="control-label"></label>
                <input asp-for="C428" class="form-control" />
                <span asp-validation-for="C428" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C478" class="control-label"></label>
                <input asp-for="C478" class="form-control" />
                <span asp-validation-for="C478" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C429" class="control-label"></label>
                <input asp-for="C429" class="form-control" />
                <span asp-validation-for="C429" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C479" class="control-label"></label>
                <input asp-for="C479" class="form-control" />
                <span asp-validation-for="C479" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C430" class="control-label"></label>
                <input asp-for="C430" class="form-control" />
                <span asp-validation-for="C430" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C480" class="control-label"></label>
                <input asp-for="C480" class="form-control" />
                <span asp-validation-for="C480" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C431" class="control-label"></label>
                <input asp-for="C431" class="form-control" />
                <span asp-validation-for="C431" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C481" class="control-label"></label>
                <input asp-for="C481" class="form-control" />
                <span asp-validation-for="C481" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C432" class="control-label"></label>
                <input asp-for="C432" class="form-control" />
                <span asp-validation-for="C432" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C482" class="control-label"></label>
                <input asp-for="C482" class="form-control" />
                <span asp-validation-for="C482" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C433" class="control-label"></label>
                <input asp-for="C433" class="form-control" />
                <span asp-validation-for="C433" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <
            <div class="form-group">
                <label asp-for="C497" class="control-label"></label>
                <input asp-for="C497" class="form-control" />
                <span asp-validation-for="C497" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C498" class="control-label"></label>
                <input asp-for="C498" class="form-control" />
                <span asp-validation-for="C498" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C499" class="control-label"></label>
                <input asp-for="C499" class="form-control" />
                <span asp-validation-for="C499" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C890" class="control-label"></label>
                <input asp-for="C890" class="form-control" />
                <span asp-validation-for="C890" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <h5>Detalle de imputación al pago</h5>
            <div class="form-group">
                <label asp-for="C897" class="control-label"></label>
                <input asp-for="C897" class="form-control" />
                <span asp-validation-for="C897" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C898" class="control-label"></label>
                <input asp-for="C898" class="form-control" />
                <span asp-validation-for="C898" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C899" class="control-label"></label>
                <input asp-for="C899" class="form-control" />
                <span asp-validation-for="C899" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C880" class="control-label"></label>
                <input asp-for="C880" class="form-control" />
                <span asp-validation-for="C880" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <h6>Valores a pagar y forma de pago</h6>
            <div class="form-group">
                <label asp-for="C902" class="control-label"></label>
                <input asp-for="C902" class="form-control" />
                <span asp-validation-for="C902" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C903" class="control-label"></label>
                <input asp-for="C903" class="form-control" />
                <span asp-validation-for="C903" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C904" class="control-label"></label>
                <input asp-for="C904" class="form-control" />
                <span asp-validation-for="C904" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C999" class="control-label"></label>
                <input asp-for="C999" class="form-control" />
                <span asp-validation-for="C999" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C905" class="control-label"></label>
                <input asp-for="C905" class="form-control" />
                <span asp-validation-for="C905" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C907" class="control-label"></label>
                <input asp-for="C907" class="form-control" />
                <span asp-validation-for="C907" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <h6>Detalle de notas de credito cartulares</h6>
            <div class="form-group">
                <label asp-for="C908" class="control-label"></label>
                <input asp-for="C908" class="form-control" />
                <span asp-validation-for="C908" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C909" class="control-label"></label>
                <input asp-for="C909" class="form-control" />
                <span asp-validation-for="C909" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C910" class="control-label"></label>
                <input asp-for="C910" class="form-control" />
                <span asp-validation-for="C910" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C911" class="control-label"></label>
                <input asp-for="C911" class="form-control" />
                <span asp-validation-for="C911" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C812" class="control-label"></label>
                <input asp-for="C812" class="form-control" />
                <span asp-validation-for="C812" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C813" class="control-label"></label>
                <input asp-for="C813" class="form-control" />
                <span asp-validation-for="C813" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <h6>Detalle de notas de crédito desmaterializadas</h6>
            <div class="form-group">
                <label asp-for="C815" class="control-label"></label>
                <input asp-for="C815" class="form-control" />
                <span asp-validation-for="C815" class="text-danger"></span>
            </div>
            <hr />
            <br />

            <div class="form-group">
                <label asp-for="C198" class="control-label"></label>
                <input asp-for="C198" class="form-control" />
                <span asp-validation-for="C198" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="form-group">
                <label asp-for="C199" class="control-label"></label>
                <input asp-for="C199" class="form-control" />
                <span asp-validation-for="C199" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script src="~/js/autollenado.js"></script>

}
