﻿@model sri.Models.Formulario103

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Formulario103</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Userid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Userid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C101)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C101)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C102)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C102)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C104)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C104)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C201)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C201)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C202)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C202)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C302)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C302)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C352)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C352)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C303)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C303)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C353)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C353)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C304)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C304)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C354)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C354)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C307)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C307)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C357)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C357)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C308)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C308)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C358)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C358)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C309)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C309)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C359)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C359)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C310)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C310)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C360)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C360)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C311)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C311)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C361)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C361)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C312)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C312)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C362)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C362)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C314)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C314)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C364)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C364)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C319)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C319)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C369)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C369)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C320)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C320)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C370)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C370)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C322)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C322)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C372)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C372)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C323)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C323)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C373)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C373)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C324)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C324)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C374)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C374)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C325)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C325)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C375)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C375)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C326)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C326)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C376)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C376)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C327)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C327)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C377)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C377)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C328)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C328)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C378)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C378)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C329)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C329)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C379)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C379)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C330)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C330)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C380)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C380)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C331)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C331)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C332)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C332)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C333)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C333)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C383)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C383)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C334)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C334)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C384)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C384)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C335)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C335)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C385)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C385)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C336)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C336)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C386)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C386)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C510)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C510)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C520)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C520)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C530)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C530)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C540)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C540)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C550)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C550)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C337)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C337)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C387)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C387)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C338)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C338)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C388)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C388)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C339)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C339)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C389)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C389)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C340)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C340)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C390)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C390)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C341)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C341)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C391)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C391)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C342)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C342)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C392)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C392)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C343)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C343)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C393)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C393)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C344)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C344)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C394)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C394)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C345)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C345)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C395)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C395)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C346)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C346)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C396)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C396)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C349)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C349)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C399)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C399)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C402)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C402)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C452)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C452)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C403)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C403)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C453)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C453)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C404)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C404)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C454)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C454)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C405)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C405)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C406)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C406)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C456)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C456)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C407)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C407)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C457)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C457)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C408)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C408)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C458)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C458)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C409)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C409)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C459)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C459)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C410)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C410)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C460)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C460)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C411)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C411)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C461)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C461)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C412)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C412)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C413)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C413)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C463)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C463)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C414)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C414)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C464)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C464)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C415)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C415)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C465)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C465)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C416)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C416)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C417)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C417)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C467)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C467)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C418)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C418)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C468)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C468)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C419)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C419)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C469)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C469)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C420)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C420)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C470)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C470)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C421)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C421)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C471)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C471)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C422)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C422)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C472)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C472)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C423)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C423)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C424)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C424)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C474)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C474)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C425)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C425)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C475)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C475)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C426)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C426)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C476)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C476)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C427)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C427)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C477)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C477)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C428)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C428)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C478)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C478)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C429)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C429)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C479)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C479)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C430)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C430)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C480)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C480)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C431)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C431)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C481)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C481)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C432)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C432)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C482)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C482)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C433)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C433)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C497)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C497)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C498)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C498)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C499)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C499)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C890)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C890)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C897)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C897)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C898)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C898)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C899)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C899)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C880)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C880)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C902)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C902)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C903)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C903)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C904)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C904)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C999)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C999)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C905)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C905)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C907)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C907)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C908)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C908)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C909)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C909)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C910)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C910)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C911)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C911)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C812)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C812)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C813)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C813)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C815)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C815)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C198)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C198)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C199)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C199)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
