﻿@model IEnumerable<sri.Models.Formulario103>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.C101)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C102)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C104)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C201)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C202)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C302)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C352)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C303)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C353)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C304)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C354)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C307)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C357)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C308)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C358)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C309)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C359)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C310)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C360)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C311)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C361)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C312)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C362)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C314)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C364)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C319)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C369)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C320)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C370)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C322)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C372)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C323)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C373)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C324)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C374)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C325)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C375)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C326)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C376)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C327)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C377)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C328)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C378)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C329)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C379)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C330)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C380)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C331)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C332)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C333)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C383)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C334)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C384)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C335)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C385)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C336)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C386)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C510)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C520)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C530)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C540)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C550)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C337)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C387)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C338)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C388)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C339)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C389)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C340)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C390)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C341)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C391)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C342)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C392)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C343)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C393)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C344)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C394)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C345)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C395)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C346)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C396)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C349)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C399)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C402)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C452)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C403)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C453)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C404)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C454)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C405)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C406)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C456)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C407)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C457)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C408)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C458)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C409)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C459)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C410)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C460)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C411)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C461)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C412)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C413)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C463)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C414)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C464)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C415)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C465)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C416)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C417)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C467)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C418)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C468)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C419)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C469)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C420)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C470)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C421)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C471)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C422)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C472)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C423)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C424)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C474)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C425)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C475)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C426)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C476)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C427)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C477)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C428)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C478)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C429)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C479)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C430)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C480)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C431)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C481)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C432)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C482)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C433)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C497)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C498)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C499)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C890)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C897)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C898)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C899)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C880)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C902)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C903)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C904)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C999)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C905)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C907)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C908)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C909)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C910)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C911)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C812)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C813)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C815)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C198)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C199)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.C101)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C102)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C104)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C201)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C202)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C302)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C352)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C303)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C353)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C304)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C354)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C307)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C357)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C308)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C358)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C309)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C359)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C310)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C360)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C311)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C361)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C312)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C362)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C314)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C364)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C319)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C369)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C320)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C370)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C322)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C372)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C323)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C373)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C324)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C374)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C325)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C375)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C326)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C376)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C327)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C377)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C328)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C378)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C329)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C379)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C330)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C380)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C331)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C332)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C333)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C383)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C334)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C384)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C335)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C385)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C336)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C386)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C510)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C520)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C530)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C540)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C550)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C337)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C387)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C338)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C388)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C339)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C389)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C340)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C390)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C341)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C391)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C342)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C392)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C343)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C393)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C344)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C394)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C345)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C395)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C346)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C396)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C349)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C399)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C402)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C452)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C403)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C453)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C404)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C454)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C405)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C406)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C456)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C407)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C457)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C408)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C458)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C409)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C459)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C410)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C460)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C411)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C461)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C412)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C413)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C463)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C414)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C464)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C415)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C465)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C416)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C417)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C467)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C418)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C468)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C419)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C469)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C420)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C470)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C421)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C471)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C422)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C472)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C423)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C424)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C474)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C425)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C475)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C426)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C476)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C427)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C477)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C428)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C478)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C429)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C479)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C430)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C480)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C431)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C481)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C432)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C482)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C433)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C497)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C498)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C499)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C890)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C897)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C898)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C899)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C880)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C902)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C903)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C904)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C999)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C905)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C907)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C908)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C909)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C910)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C911)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C812)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C813)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C815)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C198)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C199)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
