﻿@model sri.Models.Formulario106

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Formulario106</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Userid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Userid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C101)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C101)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C102)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C102)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C201)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C201)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C202)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C202)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C203)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C203)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C204)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C204)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C205)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C205)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C301)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C301)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C302)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C302)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C303)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C303)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C304)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C304)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C305)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C305)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C306)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C306)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C198)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C198)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C199)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C199)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C902)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C902)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C903)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C903)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C904)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C904)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C999)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C999)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C905)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C905)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C906)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C906)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C907)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C907)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C925)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C925)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C908)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C908)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C909)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C909)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C910)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C910)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C911)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C911)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C912)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C912)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C913)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C913)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C914)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C914)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C915)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C915)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C916)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C916)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C917)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C917)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C918)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C918)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C919)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C919)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C920)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C920)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
