﻿@model sri.Models.Formulario106

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Formulario106</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Userid" class="control-label"></label>
                <input asp-for="Userid" class="form-control" />
                <span asp-validation-for="Userid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C101" class="control-label"></label>
                <input asp-for="C101" class="form-control" />
                <span asp-validation-for="C101" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C102" class="control-label"></label>
                <input asp-for="C102" class="form-control" />
                <span asp-validation-for="C102" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C201" class="control-label"></label>
                <input asp-for="C201" class="form-control" />
                <span asp-validation-for="C201" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C202" class="control-label"></label>
                <input asp-for="C202" class="form-control" />
                <span asp-validation-for="C202" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C203" class="control-label"></label>
                <input asp-for="C203" class="form-control" />
                <span asp-validation-for="C203" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C204" class="control-label"></label>
                <input asp-for="C204" class="form-control" />
                <span asp-validation-for="C204" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C205" class="control-label"></label>
                <input asp-for="C205" class="form-control" />
                <span asp-validation-for="C205" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C301" class="control-label"></label>
                <input asp-for="C301" class="form-control" />
                <span asp-validation-for="C301" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C302" class="control-label"></label>
                <input asp-for="C302" class="form-control" />
                <span asp-validation-for="C302" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C303" class="control-label"></label>
                <input asp-for="C303" class="form-control" />
                <span asp-validation-for="C303" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C304" class="control-label"></label>
                <input asp-for="C304" class="form-control" />
                <span asp-validation-for="C304" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C305" class="control-label"></label>
                <input asp-for="C305" class="form-control" />
                <span asp-validation-for="C305" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C306" class="control-label"></label>
                <input asp-for="C306" class="form-control" />
                <span asp-validation-for="C306" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C198" class="control-label"></label>
                <input asp-for="C198" class="form-control" />
                <span asp-validation-for="C198" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C199" class="control-label"></label>
                <input asp-for="C199" class="form-control" />
                <span asp-validation-for="C199" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C902" class="control-label"></label>
                <input asp-for="C902" class="form-control" />
                <span asp-validation-for="C902" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C903" class="control-label"></label>
                <input asp-for="C903" class="form-control" />
                <span asp-validation-for="C903" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C904" class="control-label"></label>
                <input asp-for="C904" class="form-control" />
                <span asp-validation-for="C904" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C999" class="control-label"></label>
                <input asp-for="C999" class="form-control" />
                <span asp-validation-for="C999" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C905" class="control-label"></label>
                <input asp-for="C905" class="form-control" />
                <span asp-validation-for="C905" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C906" class="control-label"></label>
                <input asp-for="C906" class="form-control" />
                <span asp-validation-for="C906" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C907" class="control-label"></label>
                <input asp-for="C907" class="form-control" />
                <span asp-validation-for="C907" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C925" class="control-label"></label>
                <input asp-for="C925" class="form-control" />
                <span asp-validation-for="C925" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C908" class="control-label"></label>
                <input asp-for="C908" class="form-control" />
                <span asp-validation-for="C908" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C909" class="control-label"></label>
                <input asp-for="C909" class="form-control" />
                <span asp-validation-for="C909" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C910" class="control-label"></label>
                <input asp-for="C910" class="form-control" />
                <span asp-validation-for="C910" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C911" class="control-label"></label>
                <input asp-for="C911" class="form-control" />
                <span asp-validation-for="C911" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C912" class="control-label"></label>
                <input asp-for="C912" class="form-control" />
                <span asp-validation-for="C912" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C913" class="control-label"></label>
                <input asp-for="C913" class="form-control" />
                <span asp-validation-for="C913" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C914" class="control-label"></label>
                <input asp-for="C914" class="form-control" />
                <span asp-validation-for="C914" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C915" class="control-label"></label>
                <input asp-for="C915" class="form-control" />
                <span asp-validation-for="C915" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C916" class="control-label"></label>
                <input asp-for="C916" class="form-control" />
                <span asp-validation-for="C916" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C917" class="control-label"></label>
                <input asp-for="C917" class="form-control" />
                <span asp-validation-for="C917" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C918" class="control-label"></label>
                <input asp-for="C918" class="form-control" />
                <span asp-validation-for="C918" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C919" class="control-label"></label>
                <input asp-for="C919" class="form-control" />
                <span asp-validation-for="C919" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C920" class="control-label"></label>
                <input asp-for="C920" class="form-control" />
                <span asp-validation-for="C920" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
