﻿@model IEnumerable<sri.Models.Formulario106>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.C101)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C102)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C201)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C202)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C203)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C204)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C205)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C301)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C302)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C303)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C304)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C305)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C306)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C198)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C199)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C902)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C903)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C904)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C999)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C905)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C906)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C907)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C925)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C908)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C909)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C910)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C911)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C912)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C913)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C914)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C915)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C916)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C917)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C918)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C919)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C920)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.C101)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C102)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C201)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C202)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C203)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C204)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C205)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C301)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C302)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C303)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C304)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C305)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C306)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C198)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C199)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C902)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C903)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C904)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C999)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C905)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C906)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C907)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C925)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C908)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C909)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C910)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C911)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C912)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C913)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C914)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C915)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C916)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C917)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C918)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C919)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C920)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
